#windyty {  
	position:absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.leaflet-control-zoom {
	display: none;
}

#windyty #legend {
	right: unset !important;
}

.background-plugin-position {
    left: 80px !important;
}